{% extends 'base.html' %}

{% block title %}
    Imcryption - Encode
{% endblock %}

{% block content %}
    
    <div class="container">
        <h1 class="page-title">Hide Your Message in Image</h1>
        <div class="alert alert-danger hide alert-dismissible fade" role="alert" id="encodeFormAlert">
            
        </div>

        <form class="my-5" method="post" enctype="multipart/form-data" id="encodeForm">
            
            <div class="row align-items-center my-2">
                <div class="col-12 col-md-4">
                    <h4 class="form-label">Your Image</h4>
                </div>
                <div class="col-12 col-md-8">
                    <input type="file" class="form-input" name="image" id="image" accept="image/*" />
                </div>
            </div>
            
            <div class="row align-items-center my-2">
                <div class="col-12 col-md-4">
                    <!-- <h4 class="form-label">Use Audio</h4> -->
                </div>
                <div class="col-12 col-md-8 text-right">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="use_audio" name="use_audio">
                        <label class="form-check-label" for="use_audio">
                            Use Audio
                        </label>
                    </div>
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-12 col-md-4">
                    <h4 class="form-label">Your Message</h4>
                </div>
                <div class="col-12 col-md-8">
                    <input type="text" class="form-input" name="message" id="message" />
                </div>
            </div>
            
            <div class="row align-items-center my-2">
                <div class="col-12 col-md-4">
                    <h4 class="form-label">Your Audio File</h4>
                </div>
                <div class="col-12 col-md-8">
                    <input type="file" class="form-input" name="audio" id="audio" accept="audio/*" />
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-12 col-md-4">
                    <h4 class="form-label">PIN Code (4 Digit)</h4>
                </div>
                <div class="col-12 col-md-8">
                    <input class="form-input" type="password" id="pincode" name="pincode" maxlength="4" minlength="4"  />
                </div>
            </div>
            <div class="my-4" style="text-align: right; margin-right: 15px;">
                <button type="submit" class="btn form-btn" id="send">Return Encoded Image</button>
            </div>
        </form>
        <img src="https://c.tenor.com/tEBoZu1ISJ8AAAAC/spinning-loading.gif" id="loader" class="mx-auto"/>
        <img src="" class="img-fluid my-4" id="encoded_img" >
        <script src="{{ url_for('static',filename='javascript/encode.js') }}"></script>
            
            
    </div>
{% endblock %}